[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
	ignore = dirty
[submodule "SocketShuttle"]
	path = External/SocketShuttle
	url=https://github.com/joeldev/SocketShuttle.git
