[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
	ignore = dirty
[submodule "SocketShuttle"]
	path = External/SocketShuttle
	url = git@github.com:joeldev/SocketShuttle.git
